{% extends "base.html" %}
{% block title%} Город {% endblock%}
{% block content%}
<h1 class="display-4">City info</h1>
<div class="row">
    <div class='col-md-6'>
            <p> City name: {{object.name}}</p>
    </div>
</div>

<div class="row">
    <div class='col-md-6'>
            <a href= '{% url "city:home"%}'>
                <button type="bython" class="btn btn-light">
                    Back
                </button>
            </a>
    </div>
</div>
{% endblock%}
